<div>
  <h1>Project Chaos</h1>

  <p>The purpose of this project is to showcase a news project using InterPlanetary File System (IPFS)</p>
  <p>For the client side we are using Angular (for UI) with Tailwind CSS (CSS framework)</p>
  <p>For the backend we use Node.js with Express, InterPlanetary File System for the distribution of the articles</p>

  <p>Todo:</p>
  <ol>
    <li><s>Add description of the project</s></li>
    <li>Once done move the description of the project to readme file</li>
    <li>Create an article component</li>
    <li>Create a homepage component to display a list of articles</li>
    <li>Add Tailwind CSS. Consider using Bootstrap</li>
    <li>Update Angular project to use SCCS</li>
    <li>Create the HTML structure</li>
    <li>Consume the API endpoints</li>
    <li>Push the project with Github pages</li>
  </ol>
</div>

<router-outlet></router-outlet>
